

body {
	background-image: url(../images/bluestars.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
}

#digital {
   text-align: center;
   color: #FFFF66;
   margin-top: 29%;
   font-size: 125px;
   font-family: 'Poller One', cursive;
}


.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}